.container {
    text-align: center;
    padding-top: 100px;
}

.textContainer {
    text-align: justify;
    padding: 20px;
}

.videoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.video {
    width: 100%;
    height: 100%;
}


@media screen and (min-width: 400px) {
    .videoContainer {
        display: flex;
        flex-direction: row;
    }
    .videoContainer > div {
        width: 50%;
    }
    .video {
        width: 70%;
        min-height: 300px;
    }
    .textContainer {
        padding-left: 90px;

    }
   
}